*.exe
*.o
*.a
*.dll
*.stackdump
nohup.out
.deps/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
test-driver
*.log
*.trs
cattleshed.conf
