[submodule "submodules/ace-builds"]
	path = submodules/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "submodules/polyfills"]
	path = submodules/polyfills
	url = https://github.com/remy/polyfills.git
