[submodule "submodules/polyfills"]
	path = submodules/polyfills
	url = https://github.com/remy/polyfills.git
[submodule "submodules/CodeMirror"]
	path = submodules/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "submodules/jquery-cookie"]
	path = submodules/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "submodules/select2"]
	path = submodules/select2
	url = https://github.com/ivaynberg/select2.git
