[submodule "submodules/polyfills"]
	path = submodules/polyfills
	url = https://github.com/remy/polyfills.git
[submodule "submodules/CodeMirror"]
	path = submodules/CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
