<% c++ #include "root.h" %>
<% skin kennel %>
<% view root uses content::root %>

<% template render() %>
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>[Wandbox]三へ( へ՞ਊ ՞)へ ﾊｯﾊｯ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Wandbox is Online Compiler">
    <meta name="author" content="melpon, kikairoya">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if using_permlink %>
      <% if (!content.twitter_title.empty()) %>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="<%= twitter_title %>" />
        <meta name="twitter:description" content="<%= twitter_description %>" />
      <% end if %>
    <% end if %>

    <% include includes() %>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
    </script>
  </head>
  <body data-webroot="<% url "root" %>">
    <noscript>
      <h1><a href="<% url "nojs-list" %>">Click this for noscript browsers</a></h1>
    </noscript>
    <div id="main" role="main">
      <div class="container-fluid">
        <% include main() %>
      </div>
    </div>
  </body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.  chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
    </script>
  <![endif]-->
</html>
<% end template %>

<% template includes() %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/dialog/dialog.min.css">
<link rel="stylesheet" href="<% url "static" %>/css/root.css">

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//platform.twitter.com/widgets.js" async></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/mode/simple.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/clike/clike.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/d/d.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/ruby/ruby.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/python/python.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/perl/perl.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/erlang/erlang.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/haskell/haskell.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/shell/shell.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/lua/lua.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/php/php.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/commonlisp/commonlisp.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/pascal/pascal.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/rust/rust.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/groovy/groovy.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/javascript/javascript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/coffeescript/coffeescript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/swift/swift.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/keymap/vim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/keymap/emacs.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/search/searchcursor.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/edit/matchbrackets.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/addon/dialog/dialog.min.js"></script>
<script src="<% url "static" %>/js/jquery.url.js"></script>
<script src="<% url "static" %>/js/jquery.cookie.js"></script>
<script src="<% url "static" %>/js/ansi_up.js"></script>
<script src="<% url "static" %>/js/PostEventSource.js"></script>

<script>
var URL_COMPILE = '<% url "compile" %>';
var URL_PERMLINK = '<% url "permlink" %>';
var USING_PERMLINK = <% if using_permlink %>true<% else %>false<% end %>;
var JSON_CODE = <%= permlink | raw %>;
var DEFAULT_COMPILER = 'gcc-head';
var EDITOR_MODE_MAPPING = {
  'C++': 'text/x-c++src',
  'C': 'text/x-csrc',
  'CPP': 'text/x-csrc',
  'D': 'text/x-d',
  'Ruby': 'text/x-ruby',
  'Python': 'text/x-python',
  'Perl': 'text/x-perl',
  'Erlang': 'text/x-erlang',
  'C#': 'text/x-csharp',
  'Haskell': 'text/x-haskell',
  'Bash script': 'text/x-sh',
  'Lua': 'text/x-lua',
  'PHP': 'text/x-php',
  'Lisp': 'text/x-common-lisp',
  'Pascal': 'text/x-pascal',
  'Rust': 'text/x-rustsrc',
  'Java': 'text/x-java',
  'Groovy': 'text/x-groovy',
  'JavaScript': 'text/javascript',
  'CoffeeScript': 'text/x-coffeescript',
  'Elixir': 'text/x-ruby',
  'Scala': 'text/x-scala',
  'Vim script': 'text/x-csrc',
  'Swift': 'text/x-swift',
};
var COMPILER_NAME_TO_TAB_ID = {
  <% foreach info in compinfos %>
    <% item %>
      '<%= info.first %>': '<%= info.second.tab_id %>',
    <% end item %>
  <% end foreach %>
};
var LANGUAGE_NAME_TO_TAB_ID = {
  <% foreach lang in langinfos %>
    <% item %>
      '<%= lang.first %>': '<%= lang.second.tab_id %>',
    <% end item %>
  <% end foreach %>
};
</script>

<script src="<% url "static" %>/js/root.js"></script>
<% end template %>

<% template main() %>
<div class="row">
  <div class="col-md-12" id="header">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#wandbox-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<% url "root" %>">Wandbox</a>
      </div>
      <div class="collapse navbar-collapse" id="wandbox-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a target="_blank" href="https://github.com/melpon/wandbox">Source</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Plugin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="https://github.com/rhysd/wandbox-vim" target="_blank">for Vimmer</a>
              </li>
              <li>
                <a href="https://github.com/kosh04/emacs-wandbox" target="_blank">for Emacser</a>
              </li>
              <li>
                <a href="https://gist.github.com/kikairoya/7544234" target="_blank">for xyzzy-er</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Link <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="<% url "nojs-list" %>">Wandbox Simple</a>
              </li>
              <li>
                <a href="https://wandbox.fetus.jp/" target="_blank">Wandbox for PHP/Hack</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <% include compiler() %>
  </div>
  <div class="col-md-10" id="codepanel">
    <% include editor() %>
    <div class="row">
      <div class="col-md-12">
        <p id="compile_command"></p>
      </div>
    </div>
    <% include stdin() %>
    <div class="row">
      <div class="col-md-12">
        <a href="<% url "compile" %>" class="btn btn-default" id="wandbox-compile">Run (or Ctrl+Enter)</a>
        <img src="<% url "static" %>/compiling.gif" alt="Compiling" id="wandbox-compiling">
      </div>
    </div>
    <% include result_container() %>
  </div>
</div>
<% end template %>

<% template compiler() %>
<div class="row">
  <div class="col-md-12">
    <p class="wandbox-current-compiler-language label label-success"></p>
    <div id="wandbox-compiler" class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-language" data-toggle="dropdown" aria-expanded="true">
        <span class="wandbox-current-compiler-text"></span>
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu wandbox-dropdown-area" role="menu" aria-labelledby="dropdown-language">
        <div class="wandbox-dropdown-version"></div>
        <div class="clearfix"></div>
        <div class="wandbox-dropdown-detail-area">
          <div class="tab-content">
            <% foreach lang in langinfos %>
              <% item %>
                <div id="<%= lang.second.tab_id %>" role="tabpanel" class="tab-pane">
                  <legend><%= lang.first %></legend>
                  <ul>
                    <% foreach info in lang.second.compilers %>
                      <% item %>
                        <li>
                          <a
                            class="wandbox-dropdown-listitem"
                            href="#<%= info | ext lookup_compiler_tab_id %>"
                            data-toggle="tab"
                            data-display-name="<%= info | ext getstr("display-name") %> <%= info | ext getstr("version") %>"
                            data-name="<%= info | ext getstr("name") %>"
                          >
                            <%= info | ext getstr("display-name") %> <%= info | ext getstr("version") %>
                          </a>
                        </li>
                      <% end item %>
                    <% end foreach %>
                  </ul>
                </div>
              <% end item %>
            <% end foreach %>
          </div>
        </div>
        <div class="wandbox-dropdown-lang-area">
          <legend>Languages</legend>
          <ul>
            <% foreach lang in vertical_langinfos %>
              <% item %>
                <li>
                  <a href="#<%= lang->tab_id %>" data-toggle="tab"><%= lang->language %></a> <span class="wandbox-badge"><%= lang->count %></span>
                </li>
              <% end item %>
            <% end foreach %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="wandbox-compile-options" class="tab-content">
      <% foreach info in compinfos %>
        <% item %>
          <div
            id="<%= info.second.tab_id %>"
            role="tabpanel"
            class="tab-pane"
            data-compiler="<%= info.first %>"
            data-language="<%= info.second.info | ext getstr("language") %>"
            data-display-name="<%= info.second.info | ext getstr("display-name") %>"
            data-command="<%= info.second.info | ext getstr("display-compile-command") %>"
            data-full-name="<%= info.second.info | ext make_full_name %>"
            data-options-raw="<% if (info.second.info["compiler-option-raw"].boolean()) %>compiler<% else %>runtime<% end %>"
          >
            <% c++ for (auto&& sw: info.second.info["switches"].array()) { %>
              <% c++ content.sw = sw; %>
              <% if (sw["type"] == "single") %>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="<%= sw | ext getstr("name") %>" data-flags="<%= sw | ext getstr("display-flags") %>" <% if (sw["default"].boolean()) %>checked<% end %>>
                      <%= sw | ext getstr("display-name") %>
                    </input>
                  </label>
                </div>
              <% else %>
                <div class="checkbox">
                  <select class="col-md-12">
                    <% c++ for (auto&& opt: sw["options"].array()) { %>
                      <% c++ content.opt = opt; %>
                      <option name="compile-option-groups-#{groupName}" value="<%= opt | ext getstr("name") %>" data-flags="<%= opt | ext getstr("display-flags") %>" <% if (opt["name"].str() == sw["default"].str()) %>selected<% end %>>
                        <%= opt | ext getstr("display-name") %>
                      </option>
                    <% c++ } %>
                  </select>
                </div>
              <% end %>
            <% c++ } %>
            <% if (info.second.info["compiler-option-raw"].boolean()) %>
              <label>Compiler options:</label>
              <div class="option-raw compiler-option-raw"></div>
            <% end %>
            <% if (info.second.info["runtime-option-raw"].boolean()) %>
              <label>Runtime options:</label>
              <div class="option-raw runtime-option-raw"></div>
            <% else %>
              <span class="wandbox-hidden-runtime-option-raw">
                <label>Runtime options:</label>
                <div class="option-raw runtime-option-raw"></div>
              </span>
              <div class="wandbox-shown-runtime-option-raw">
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end template %>

<% template editor() %>
<div class="row">
  <div class="col-md-10">
    <div class="wandbox-editor">
      <ul id="wandbox-editor-header" class="nav nav-tabs" role="tablist">
        <li class="active">
          <a id="wandbox-editor-default-tab" href="#wandbox-editor-default" role="tab" data-toggle="tab">
            <i class="glyphicon glyphicon-file"></i>
          </a>
        </li>
        <li>
          <a id="wandbox-editor-add-tab" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
      <div id="wandbox-editor-content" class="tab-content">
        <div
          id="wandbox-editor-default"
          role="tabpanel"
          class="tab-pane active"
        >
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2" id="editor-settings">
    <label>choose key binding:</label>
    <div class="checkbox">
      <select class="wandbox-select" size=3>
        <option value="default" selected>default</option>
        <option value="vim">Vim</option>
        <option value="emacs">Emacs</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input class="use-legacy-editor" type="checkbox" value="use-legacy-editor">Use Legacy Editor</input>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="no-auto-indent" type="checkbox" value="no-auto-indent">OFF Auto Indent</input>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input class="expand-editor" type="checkbox" value="expand-editor">Expand</input>
      </label>
    </div>
  </div>
</div>
<% end template %>

<% template result_container() %>
<div class="row">
  <div class="col-md-10">
    <div id="result-container">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs"></ul>
      </div>
      <div class="tab-content"></div>
    </div>
  </div>
  <div class="col-md-2">
    <div id="result-container-settings">
      <div class="checkbox">
        <label>
          <input class="nowrap-output-window" type="checkbox" value="nowrap-output-window">No Wrap</input>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input class="expand-output-window" type="checkbox" value="expand-output-window">Expand</input>
        </label>
      </div>
    </div>
  </div>
</div>
<% end template %>

<% template stdin() %>
<div class="row">
  <div class="col-md-10">
    <div class="panel-group" role="tablist" id="wandbox-stdin-accordion" aria-multiselectable="true">
      <div class="panel panel-default">
        <a id="wandbox-stdin-button" data-toggle="collapse" data-parent="#wandbox-stdin-accordion" href="#wandbox-stdin-body" aria-expanded="true">
          Stdin
        </a>
        <div id="wandbox-stdin-body" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="stdin" id="stdin"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end template %>

<% end view %>
<% end skin %>
