<% c++ #include "user.h" %>
<% skin kennel %>
<% view user uses content::user extends kennel::common %>

<% template includes() %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="<% url "static" %>/css/root.css">

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
  $(function() {
    $(".wandbox-datetime").each(function() {
      var timestamp = parseInt($(this).attr('datetime'));
      var date = new Date(timestamp * 1000);
      $(this).attr('title', date.toString());
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<% end template %>

<% template main() %>

<% include header() %>

<div class="row">
  <div class="col-md-12">
    <p><img class="wandbox-medium-avatar" src="<%= target.avatar_url %>"> <%= target.username %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% include pagination() %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% foreach code in target.usercode.codes %>
      <% item %>
        <div class="row">
          <div class="col-md-12">
            <h4><a href="<% url "get-permlink" using code.permlink %>"><%= code.compiler %></a></h4>
            <div>
              <p class="wandbox-datetime time-ago" data-toggle="tooltip" data-placement="bottom" datetime="<% c++ out() << (code.created_at * 1000); %>"></p>
            </div>
            <pre><code><%= code.code | ext head | escape %></code></pre>
          </div>
        </div>
      <% end item %>
    <% end foreach %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% include pagination() %>
  </div>
</div>

<% end template %>

<% template pagination() %>
  <% if (!content.target.usercode.codes.empty()) %>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <% c++ bool is_first = content.target.usercode.current_page == 0; %>
        <% c++ bool is_last = content.target.usercode.current_page == content.target.usercode.page_max - 1; %>

        <li class="<% c++ if (is_first) out() << "disabled"; %>">
          <% if (is_first) %>
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          <% else %>
            <a href="<% url "user" using target.username %>?p=<% c++ out() << (content.target.usercode.current_page - 1); %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          <% end %>
        </li>

        <% c++ for (int page = 0; page < content.target.usercode.page_max; page++) { %>
          <li class="<% c++ if (page == content.target.usercode.current_page) out() << "active"; %>">
            <a href="<% url "user" using target.username %>?p=<% c++ out() << page; %>"><% c++ out() << (page + 1); %></a>
          </li>
        <% c++ } %>

        <li class="<% c++ if (is_last) out() << "disabled"; %>">
          <% if (is_last) %>
            <span>
              <span aria-hidden="true">&raquo;</span>
            </span>
          <% else %>
            <a href="<% url "user" using target.username %>?p=<% c++ out() << (content.target.usercode.current_page + 1); %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end if %>
<% end template %>

<% end view %>
<% end skin %>
