<% c++ #include "user.h" %>
<% skin kennel %>
<% view user uses content::user %>

<% template render() %>
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>[Wandbox]三へ( へ՞ਊ ՞)へ ﾊｯﾊｯ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Wandbox is Online Compiler">
    <meta name="author" content="melpon, kikairoya">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% include includes() %>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
    </script>
  </head>
  <body>
    <div id="main" role="main">
      <div class="container-fluid">
        <% include main() %>
      </div>
    </div>
  </body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.  chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
    </script>
  <![endif]-->
  <% if (!content.google_analytics.empty()) %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= google_analytics %>', 'auto');
      ga('send', 'pageview');
    </script>
  <% end if %>
  <script>
    $(".wandbox-datetime").each(function() {
      var timestamp = parseInt($(this).text());
      var date = new Date(timestamp * 1000);
      $(this).text(date.toString());
    });
  </script>
</html>
<% end template %>

<% template includes() %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<% end template %>

<% template main() %>
<div class="row">
  <div class="col-md-12" id="header">
    <div class="navbar <% if login %>navbar-inverse<% else %>navbar-default<% end %>">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#wandbox-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<% url "root" %>">Wandbox</a>
      </div>
      <div class="collapse navbar-collapse" id="wandbox-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a target="_blank" href="https://github.com/melpon/wandbox">Source</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Plugin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="https://github.com/rhysd/wandbox-vim" target="_blank">for Vimmer</a>
              </li>
              <li>
                <a href="https://github.com/kosh04/emacs-wandbox" target="_blank">for Emacser</a>
              </li>
              <li>
                <a href="https://gist.github.com/kikairoya/7544234" target="_blank">for xyzzy-er</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Link <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="<% url "nojs-list" %>">Wandbox Simple</a>
              </li>
              <li>
                <a href="https://wandbox.fetus.jp/" target="_blank">Wandbox for PHP/Hack</a>
              </li>
            </ul>
          </li>
          <% if login %>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown"><img src="<%= login_info.avatar_url %>"> <%= login_info.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="">User</a>
                </li>
                <li>
                  <a href="<% url "signout" %>">Sign out</a>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <a href="<%= login_url %>">Sign in</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><img src="<%= target.avatar_url %>"></img> <%= target.username %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% include pagination() %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% foreach code in target.usercode.codes %>
      <% item %>
        <div class="row">
          <div class="col-md-12">
            <h4><a href="<% url "get-permlink" using code.permlink %>"><%= code.compiler %></a></h4>
            <p class="wandbox-datetime"><%= code.created_at %></p>
            <pre><code><%= code.code | ext head %></code></pre>
          </div>
        </div>
      <% end item %>
    <% end foreach %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% include pagination() %>
  </div>
</div>

<% end template %>

<% template pagination() %>
  <% if (!content.target.usercode.codes.empty()) %>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <% c++ bool is_first = content.target.usercode.current_page == 0; %>
        <% c++ bool is_last = content.target.usercode.current_page == content.target.usercode.page_max - 1; %>

        <li class="<% c++ if (is_first) out() << "disabled"; %>">
          <% if (is_first) %>
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          <% else %>
            <a href="<% url "user" using target.username %>?p=<% c++ out() << (content.target.usercode.current_page - 1); %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          <% end %>
        </li>

        <% c++ for (int page = 0; page < content.target.usercode.page_max; page++) { %>
          <li class="<% c++ if (page == content.target.usercode.current_page) out() << "active"; %>">
            <a href="<% url "user" using target.username %>?p=<% c++ out() << page; %>"><% c++ out() << (page + 1); %></a>
          </li>
        <% c++ } %>

        <li class="<% c++ if (is_last) out() << "disabled"; %>">
          <% if (is_last) %>
            <span>
              <span aria-hidden="true">&raquo;</span>
            </span>
          <% else %>
            <a href="<% url "user" using target.username %>?p=<% c++ out() << (content.target.usercode.current_page + 1); %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end if %>
<% end template %>

<% end view %>
<% end skin %>
