*.exe
*.o
*.a
*.dll
*.stackdump
nohup.out
.deps/
Makefile
autom4te.cache/
config.h
config.log
config.status
stamp-h1
*.log
*.trs
kennel.json
src/kennel
COPYING
INSTALL
Makefile.in
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
src/root.html.cpp
AUTHORS
ChangeLog
NEWS
README
cppcms/
cppdb/
install/
