<% c++ #include "content.h" %>  
<% skin my_skin %>  
<% view message uses content::message %>  
<% template render() %>  
<html>  
  <body>  
    <h1><%= text %> World!</h1>  
  </body>  
</html>  
<% end template %>  
<% end view %>  
<% end skin %> 
